@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App, body, html, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

.metaText {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color: #949494;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}